# requirements for development and testing this service

-r requirements-dev-common.txt

# additional requirements can be listed here
fastapi==0.89.1
uvicorn[standard]==0.20.0
httpyexpect==0.2.4
requests==2.28.1
